<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apijson.demo.client"
    android:versionCode="21"
    android:versionName="@string/app_version" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <!-- 需要的权限和功能 <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- ZBLibrary <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- CommonUtil等类的部分功能需要，不需要的功能对应的权限可不复制粘贴 <<<<<< -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- CommonUtil等类的部分功能需要，不需要的功能对应的权限可不复制粘贴 >>>>>> -->
    <!-- ZBLibrary >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->


    <!-- QRCodeLibrary <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- QRCodeLibrary >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->


    <!-- 需要的权限和功能 >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

    <application
        android:name="apijson.demo.client.application.APIJSONApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name="apijson.demo.client.activity_fragment.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="apijson.demo.client.activity_fragment.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan|adjustResize|adjustUnspecified" />
        <activity
            android:name="apijson.demo.client.activity_fragment.PasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan|adjustResize|adjustUnspecified" />
        <activity
            android:name="apijson.demo.client.activity_fragment.MomentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustUnspecified" />
        <activity
            android:name="apijson.demo.client.activity_fragment.MomentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="apijson.demo.client.activity_fragment.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="apijson.demo.client.activity_fragment.MainTabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="apijson.demo.client.activity_fragment.SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="apijson.demo.client.activity_fragment.WalletActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="apijson.demo.client.activity_fragment.UserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="apijson.demo.client.activity_fragment.UserListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="apijson.demo.client.activity_fragment.ScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="apijson.demo.client.activity_fragment.QRCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <!-- ZBLibrary <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->

        <activity
            android:name="zuo.biao.library.ui.SelectPictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WindowCompleteAlpha"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="zuo.biao.library.ui.CutPictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Window"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="zuo.biao.library.ui.WebViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustUnspecified" />
        <activity
            android:name="zuo.biao.library.ui.EditTextInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan|adjustUnspecified" />
        <activity
            android:name="zuo.biao.library.ui.ServerSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="zuo.biao.library.ui.TopMenuWindow"
            android:screenOrientation="portrait"
            android:theme="@style/Window"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="zuo.biao.library.ui.BottomMenuWindow"
            android:screenOrientation="portrait"
            android:theme="@style/Window"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="zuo.biao.library.ui.EditTextInfoWindow"
            android:screenOrientation="portrait"
            android:theme="@style/Window"
            android:windowSoftInputMode="stateVisible|adjustResize|adjustUnspecified" />
        <activity
            android:name="zuo.biao.library.ui.PlacePickerWindow"
            android:screenOrientation="portrait"
            android:theme="@style/Window"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="zuo.biao.library.ui.DatePickerWindow"
            android:screenOrientation="portrait"
            android:theme="@style/Window"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="zuo.biao.library.ui.TimePickerWindow"
            android:screenOrientation="portrait"
            android:theme="@style/Window"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!-- ZBLibrary >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

    </application>

</manifest>