# maven #
target

logs

# eclipse #
.settings
.project
.classpath
.log

# windows #
Thumbs.db

# Mac #
.DS_Store

# Package Files #
*.war
*.ear

# idea #
.idea
*.iml

plan.txt

*.class



*.bak
*.tmp
*.log
/bin/
build.sh
integration-repo
/build/

# IDEA metadata and output dirs
*.ipr
*.iws

/webapp/WEB-INF/classes/
/webapp/WEB-INF/test-classes/
/webapp/WEB-INF/target/

a_little_config_pro.txt

dev_plan.txt


